.footer {
  height: 6rem;
  font-size: 1.6rem;
  border-top: 0.2rem solid $blue;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  gap: 1rem;

  img {
    height: 4rem;
    transition: 0.3s;

    @media (width < 375px) {
      height: 3rem;
    }
  }

  a {
    color: $blue;
  }
}
