.form-container {
  max-width: 54rem;
  width: 100%;
  padding: 3rem;
  font-size: 1.6rem;

  h1 {
    text-align: center;
  }
}

.errors-list {
  color: red;
}

.form-field-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-field {
  padding: 1.2rem;
  border: none;
}

.text-input {
  font-size: 1.4rem;
  line-height: 2.8rem;
  padding: 1rem 1.6rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  background-color: $light-grey;

  &:hover {
    background-color: $white;
    border: 0.1rem solid $blue;
  }

  &--error {
    border: 0.2rem solid red;
  }
}

.form__submit {
  @include button();
  margin-top: 2.2rem;
  margin-left: 1.2rem;
  background-color: $blue;
  width: 20rem;
}
