.header {
  height: $header-height;
  border-bottom: 0.2rem solid $blue;
  font-size: 2rem;

  @media (width < 500px) {
    height: auto;
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  z-index: 2;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;

  @media (width < 768px) {
    flex-wrap: wrap;
  }

  @media (width < 500px) {
    height: $header-height--mobile;
    padding: 0.5rem;
  }
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 2rem;

  a {
    text-decoration: none;
  }

  @media (width < 500px) {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.nav-list__item--active {
  font-weight: bold;
  color: $light-blue;
}

.header__buttons {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    @include button();
    background-color: $blue;
  }

  .header__sign-up {
    color: $blue;
    background-color: white;
  }

  @media (width < 500px) {
    width: 100%;
    justify-content: center;
  }
}

.logout-button {
  @include button();
  background-color: $gray;
}

.main-link--not-allowed {
  cursor: not-allowed;
}
