.form-container {
  max-width: 54rem;
  padding: 3rem;
  font-size: 1.6rem;

  h1 {
    text-align: center;
  }
}

.errors-list {
  color: red;
}

.register-form {
  font-weight: bold;
}

.form-field-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-field {
  padding: 1.2rem;
  border: none;
}

@mixin labelBlock {
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.user__name,
.user__login,
.user__email,
.user__password {
  @include labelBlock;
}

/* .user__name,
.user__login {
} */

.user__email,
.user__password {
  input {
    width: 100%;
  }
}

.text-input {
  font-size: 1.4rem;
  line-height: 2.8rem;
  padding: 1rem 1.6rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  background-color: $light-grey;

  &:hover {
    background-color: $white;
    border: 0.1rem solid $blue;
  }

  &--error {
    border: 0.2rem solid red;
  }
}

.form__submit {
  margin-top: 2.2rem;
  margin-left: 1.2rem;
  display: block;
  padding: 1rem 1.6rem;
  height: 4rem;
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: 0.8rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
